@model IEnumerable<Trainee.Fresher>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@{
    ViewBag.Title = "Index";
}

<div class="main-heading text-center align-center"> <i class="fa fa-graduation-cap"></i> Freshers Management System </div>

<p style="margin-top:20px">
    @Html.ActionLink(" Create New", "Create", null, new { @class = "fa fa-user-plus create" })
    @Html.ActionLink(" Home", "Index", null, new { @class = "fa fa-home float-right", @style = "font-size:18px;display:inline" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @item.DateOfBirth.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit" data-id="@item.Id"><i class="fa fa-pencil"></i> Edit</button>
                <button type="button" class="btn btn-danger btn-xs delete-button" data-id-to-delete="@item.Id" data-toggle="modal" data-target="#delete"><i class="fa fa-trash"></i> Delete</button>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="form-group">
                        <label class="col-form-label">Id</label>
                        <input type="text" class="form-control" name="Id" id="id" readonly>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input type="text" class="form-control" name="Name" id="name" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Mobile Number</label>
                        <input type="text" class="form-control" name="MobileNumber" id="mobile-number" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Date Of Birth</label>
                        <input type="date" class="form-control" name="DateOfBirth" id="date-of-birth" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Qualification</label>
                        <input type="text" class="form-control" name="Qualification" id="qualification" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Address</label>
                        <input type="text" class="form-control" name="Address" id="address" />
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" id="save-edit-button" class="btn btn-success" value="Save" name="submit" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <span id="name-to-delete"></span>???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete-yes-button" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color: black">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-comment" style="font-size:25px; color:#008000"></i> Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black">
                <span id="message"></span><span class="fa fa-thumbs-up" id="thumbs-up" style="font-size: 25px; color: dodgerblue; padding-left: 15px;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="ok-button">Ok</button>
            </div>
        </div>
    </div>
</div>